body {
    background: #222;
}

.hidden {
    display: none;
}

.navbar-fixed {
    user-select: none;
}

.fb-buttons {
    margin: 10px;
    text-align: right;
}

.fa {
    vertical-align: bottom;
}

#logoutBtn {
    position: fixed;
    right: 0;
    margin-top: -5px;
    padding: 0 15px;
    background: #000;
    text-transform: capitalize;
}

#userInfo li {
    margin: 0 5px;
    font-size: 2em;
}

#userInfo img {
    border-radius: 5px;
}
