html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #222;
  color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}

a:not(.btn):not(.logout-buttons) {
  color: #7e57c2;
  transition: .3s color;
}

a:not(.btn):not(.logout-buttons):hover {
  color: #b39ddb;
}

a:not(.btn):not(.logout-buttons):active {
  color: #d1c4e9;
}

footer {
  background: #222;
  border-top-left-radius: 3px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 3px 3px 0;
}

i.right {
  margin-left: 0;
}

.hidden {
  display: none;
}

.error {
  background: #a00;
}

.navbar-fixed {
  user-select: none;
  cursor: default;
}

.user-info li {
  display: flex;
  margin-right: 10px;
  font-size: 2em;
}

.user-info img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.fb-buttons {
  margin: 10px 10px 20px 10px;
  text-align: right;
}

.fa {
  vertical-align: bottom;
}

.btn {
  background: #000;
}

.fb-buttons .logout-buttons {
  position: fixed;
  right: 0;
  margin-top: -5px;
  padding: 0 15px;
  text-transform: capitalize;
}

.fb-buttons .logout-buttons:hover {
  background: #300;
}


.input-field input {
  font-size: 2em;
}

.input-field input[type=text]:focus+label {
  color: #fff !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid #311b92 !important;
  box-shadow: 0 1px 0 0 #311b92 !important;
}

.input-field .prefix.active {
  color: #927adc;
}

.btn.search {
  padding: 0 3vw;
}

.btn.search:hover {
  background: #311b92;
}

.btn.search.waves-ripple {
  background: #4527a0;
}

.welcome {
  font-size: 1.2em;
}

.card .card-content {
  padding: 18px 2px 18px 8px;
}

.card .card-content .card-title {
  font-size: 1.3em;
  line-height: 95%;
}

.btm-right-text {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.business-img {
  min-height: 250px;
}

.yelp {
  color: red;
  font-size: 1.3em;
}

.yelp-logo {
  width: 100px;
  height: 64px;
  vertical-align: -73%;
  margin-left: -10px;
}

.attendance {
  position: fixed;
  bottom: 0;
  font-size: 1.7em;
}

/* Animation */

.animated {
  animation-duration: .5s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: .5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.shake {
  animation-name: shake;
}

@keyframes shake {

  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  30%,
  60%,
  90% {
    transform: translate3d(8px, 0, 0);
  }

  45%,
  75% {
    transform: translate3d(-8px, 0, 0);
  }
}

/* Navbar image adjustment during materialize hide-on-small-only */

@media only screen and (max-width: 600px) {
  .user-info img {
    margin-top: 5%;
  }
}