html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #222;
    color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.error {
    background: #a00;
}

.navbar-fixed {
    user-select: none;
    cursor: default;
}

#userInfo li {
    margin-right: 10px;
    font-size: 2em;
}

#userInfo img {
    border-radius: 5px;
    margin-top: 5%;
}

.fb-buttons {
    margin: 10px 10px 40px 10px;
    text-align: right;
}

.fa {
    vertical-align: bottom;
}

.btn {
    background: #000;
}

#logoutBtn {
    position: fixed;
    right: 0;
    margin-top: -5px;
    padding: 0 15px;
    text-transform: capitalize;
}

#logoutBtn:hover {
    background: #300;
}

#locationInput {
    font-size: 2em;
}

.input-field input[type=text]:focus+label {
    color: #fff;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #311b92;
    box-shadow: 0 1px 0 0 #311b92;
}

.input-field .prefix.active {
    color: #4527a0;
}

#searchBtn:hover {
    background: #311b92;
}

#searchBtn.waves-ripple {
    background: #4527a0;
}

.card-title {
    font-size: 1.3em !important;
    line-height: 95% !important;
}

.attendLink {
    transition: .3s all ease;
}

.attendLink:hover {
    color: #fff;
}

.attendLink:active {
    color: #b39ddb;
}

.yelp {
    color: red;
    font-size: 1.3em;
}

.yelp-logo {
    width: 100px;
    height: 64px;
    vertical-align: -73%;
    margin-left: -10px;
}

.attendance {
    position: fixed;
    bottom: 0;
    font-size: 1.7em;
}


/* Animation */

.animated {
    animation-duration: .5s;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: .5s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.shake {
  animation-name: shake;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  30%, 60%, 90% {
    transform: translate3d(8px, 0, 0);
  }
  
  45%, 75% {
    transform: translate3d(-8px, 0, 0);
  }
}

